<!-- about.html -->
<section class="resume-section" id="about">
  <div class="resume-section-content">
    <h1 class="mb-0">
      Raj Kumar
      <span class="text-primary">Tamang</span>
    </h1>
    <div class="subheading mb-1">
      Koshi Province · Jhapa · Nepal ·
      <a href="mailto:rajtmg0023@gmail.com">rajtmg0023@gmail.com</a>
    </div>
    <div class="subheading mb-4 text-primary">
      Aspiring Data Engineer | Python Developer | Database Administrator (DBA) |
      IBM Certified | Seeking New Challenges
    </div>
    <p class="lead mb-5">
      Aspiring Data Engineer and Python Developer certified in IBM Data
      Engineering Foundation. Proficient in web development, database
      administration, and Big Data technologies. Skilled in Python libraries,
      scripting, and ETL pipeline development. Actively expanding expertise in
      Jenkins, Terraform, Ansible, Apache Kafka, and Hadoop. Eager to contribute
      to innovative projects and tackle new challenges. Let's connect!
    </p>
    <div class="social-icons">
      <a class="social-icon" href="https://www.linkedin.com/in/rajtmg/"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a class="social-icon" href="https://github.com/rajtmg23"
        ><i class="fab fa-github"></i
      ></a>
      <a class="social-icon" href="https://replit.com/@rajtmg"
        ><i class="fa-brands fa-python"></i
      ></a>
      <!-- <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a> -->
      <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
    </div>
  </div>
</section>
<hr class="m-0" />
