<!-- certifications.html -->
<section class="resume-section" id="certification">
  <div class="resume-section-content">
    <h2 class="mb-5">Certifications</h2>
    <ul class="fa-ul mb-0">
      {% for certification in certifications %}
      <li>
        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
        <a href="{{ certification.verification_url }}" class="nav-link" target="_blank">
          {{ certification.title }}
          {% if certification.authority %}
          -- {{ certification.authority }}
          {% endif %}
        </a>
        
        {% if certification.parent_certification %}
        <ul class="fa-ul mb-0">
          {% for child_certification in certification.parent_certification_set.all %}
          <li>
            <span class="fa-li"><i class="fas fa-solid fa-medal text-warning"></i></span>
            <a href="{{ child_certification.verification_url }}" class="nav-link" target="_blank">
              {{ child_certification.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
        
        {% if certification.child_certification_set.all %}
        <ul class="fa-ul mb-0">
          {% for child_certification in certification.child_certification_set.all %}
          <li>
            <span class="fa-li"><i class="fas fa-solid fa-medal text-warning"></i></span>
            <a href="{{ child_certification.verification_url }}" class="nav-link" target="_blank">
              {{ child_certification.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
        
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
<hr class="m-0" />
