<section class="resume-section" id="projects">
  <div class="resume-section-content">
    <h2 class="mb-5">Projects</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
      <div class="col">
        <div class="card h-100">
          <!-- <a href="#" class="nav-link" target="_blank"> <img src=".."
                            class="card-img-top" alt="..."></a> -->
          <div class="card-body">
            <a
              href="https://github.com/ks024/youtube_downloader"
              class="nav-link"
              target="_blank"
            >
              <h4 class="card-title">Download Youtube Videos</h4>
            </a>
            <p class="card-text">
              "This project is a simple, user-friendly YouTube video downloader
              built with Python and the pytube library. Packaged in a Docker
              container, it allows you to easily list available video streams,
              choose your preferred resolution, and download the video directly
              to your local machine. The downloaded files are saved to a
              specified directory on your host system, ensuring convenient
              access and management of your videos. This solution is perfect for
              those looking to quickly and efficiently download YouTube videos
              without hassle."
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a
            href="https://pixe.la/v1/users/rajtmg/graphs/graph01.html"
            class="nav-link"
            target="_blank"
          >
            <img src="./assets/img/pixela.png" class="card-img-top" alt="..."
          /></a>
          <div class="card-body">
            <a
              href="https://github.com/rajtmg23/morning_walk_tracker"
              class="nav-link"
              target="_blank"
            >
              <h4 class="card-title">Morning Walk Tracker</h4>
            </a>
            <p class="card-text">
              Visualize distance covered during morning walk.
            </p>
            <ul>
              <li>
                Developed a Morning Walk Tracker Visualizer using the Pixe.la
                API.
              </li>
              <li>
                Implemented seamless integration to visualize and track morning
                walk data, showcasing practical API usage in a real-world
                project.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
      <div class="col">
        <div class="card h-100">
          <!-- <a href="https://pixe.la/v1/users/rajtmg/graphs/graph01.html" class="nav-link"
                        target="_blank"> <img src=".." class="card-img-top" alt="..."></a> -->
          <div class="card-body">
            <a
              href="https://github.com/rajtmg23/Python-Project-for-Data-Engineering"
              class="nav-link"
              target="_blank"
            >
              <h4 class="card-title">Python Project for Data Engineering</h4>
            </a>
            <p class="card-text">ETL Automation Python scripts.</p>
            <ul>
              <li>
                Designed and implemented Python ETL scripts for efficient
                extraction, transformation, and loading of data from diverse
                sources into various formats.
              </li>
              <li>
                Demonstrated versatility in handling data extraction challenges
                and ensuring seamless integration through automated processes.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <!-- <a href="#" class="nav-link" target="_blank"> <img src=".."
                            class="card-img-top" alt="..."></a> -->
          <div class="card-body">
            <a
              href="https://github.com/rajtmg23/flask-fav-movies"
              class="nav-link"
              target="_blank"
            >
              <h4 class="card-title">
                Movie Ratings and Reviews Manager with Flask: Guided Project
              </h4>
            </a>
            <p class="card-text">
              "Flask Movie Manager: Rate, review, and organize your favorite
              films seamlessly. Utilizing Flask and SQLAlchemy, it offers an
              intuitive interface to add, rate, and review movies. Integrated
              with TMDb API for fetching movie details. Explore and manage your
              movie collection with ease!"
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
      <div class="col">
        <div class="card h-100">
          <!-- <a href="https://pixe.la/v1/users/rajtmg/graphs/graph01.html" class="nav-link"
                        target="_blank"> <img src=".." class="card-img-top" alt="..."></a> -->
          <div class="card-body">
            <a
              href="https://github.com/rajtmg23/scan_automation"
              class="nav-link"
              target="_blank"
            >
              <h4 class="card-title">Scan Automation</h4>
            </a>
            <p class="card-text">
              A simple application which consists of three buttons horizontally
              to perform scanning of documents.
            </p>
            <p class="card-text">Created using Autohotkey.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a href="#" class="nav-link" target="_blank">
            <img src="./assets/img/fb.jpg" class="card-img-top" alt="..."
          /></a>
          <div class="card-body">
            <a
              href="https://github.com/rajtmg23/facebookbithdaywisher"
              class="nav-link"
              target="_blank"
            >
              <h4 class="card-title">Facebook Birthday Wisher</h4>
            </a>
            <p class="card-text">
              Auto post Birthday Messages on Facebook friends timeline.
            </p>
            <ul>
              <li>
                Designed and implemented a Python script using Selenium for
                automated birthday wishes on Facebook.
              </li>
              <li>
                The script checks for friends' birthdays daily and autonomously
                posts heartfelt birthday messages on their timelines.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="m-0" />
